{
    "presets": [
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-runtime",            // 代码转换
        "transform-async-to-generator", //可以使用async/await
        "transform-decorators-legacy"   // ES7 decorator
    ],
    "env": {
        "development": {
        },
        "production": {
        }
    }
}